# PORT=3001
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
DB_PASSWORD=SMCmfg@2026
DB_NAME=worktrack
JWT_SECRET=doi_thanh_chuoi_ngau_nhien_dai_it_nhat_64_ky_tu
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://10.163.25.8
