# PORT=3001
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
DB_PASSWORD=SMCmfg@2026
DB_NAME=worktrack
JWT_SECRET=c98ead9dbf6cebff76c62cc8d4a59539691dbb8921c49a79f3516f3b67825280
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://10.163.25.8
